# Build
build/
build_dev/
vcpkg_installed/
*.o
*.obj
*.exe
*.dll
*.pdb
*.ilk

# IDE
.vs/
.vscode/
*.user
*.suo
*.vcxproj.user

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
compile_commands.json

# Config
.env

# Logs & Runtime
logs/
*.log
Testing/

# Static analysis
.scannerwork/
sonar-report/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor
*~
*.swp
*.swo
*.bak

# Temp
*.tmp
*.temp

# Static Analysis
build-wrapper-output/
build/analysis-reports/
*.gcov
*.lcov
coverage.xml
cppcheck-report.xml
xunit-result.xml
.sonar

# Archive
*.zip
*.7z
*.tar.gz
